body{
    margin: 0;
    padding: 0;
    font-family: "Pathway Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

ol, ul{
    list-style: none;
}

a{
    text-decoration: none;
}

header{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a i{
    color: white;
    font-size: 3em;
    padding: 0.3em;
}

header nav ul {
    display: flex;
    gap: 1.3em;

}

header nav ul li a{
    color: white;

}

.seccion-1{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

h2{
    display: flex;
    justify-content: flex-end;
    font-size: 2.5em;
}

.parrafo1{
    display: flex;
    justify-content: flex-end;
}

.parrafo2{
    display: flex;
    justify-content: flex-end;
}

.acerca-imagen{
    display: flex;
    background-color: white;
    padding: 1em;
}

.seccion-2 img{
    display: flex;
    width: 100%;
    height: 450px;
    
}

#cajas{
    display: inline-flex;
    width: 800px;
    margin: 50px;
    justify-content: center;
    position: relative;
    left: 10%;
}

.caja1{
    background-color: white;
    display: inline-block;
    padding-left: 3em;
    
}

.señal img {
    padding-left: 5em;
}

.empresa img{
    padding-left: 4em;
}

.caja2{
    background-color: white;
    display: inline-block; 
    padding-left: 3em;
    
}

h3{
    display: flex;
    background-color: white;
    padding: 1em;
}

h4{
    display: flex;
    justify-content: center;
}

.parrafo3{
    display: inline-block;
}

.parrafo4{
    display: inline-block;
}

h5{
    display: flex;
    justify-content: center;
}



h7{
    color: red;
    font-size: 1.2em;
}
footer{
    background-color: black;
    width: 100%;
    padding: 0.8em;
}

footer ul li a{
    color: white;
}

#check{
    display: none;
}

.checkbtn{
    font-size: 25px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;

}

.greeting{
    color: red;
    font-size: 20px;
    padding-left: 50%;
}





/* Estilos para pantallas más pequeñas (hasta 768px) */
@media (max-width: 768px) {
        header{
            background-color: rgb(114, 114, 1);
        }
        .seccion-1{
            flex-wrap: wrap;
        }
        
        .checkbtn{
            display: block;
        }

        #encabezado ul{
            position: fixed;
            width: 100%;
            height: 100vh;
            background: #2c3e50;
            text-align: center;
        
            top: 80px;
            left: 100%;
            transition: all 0.5s;
        
        }
        #check:checked ~ ul {
            left: 0%;
            display: block;
        }
        
        #encabezado nav ul li {
            display: block;
            margin: 50px 0;
            line-height: 30px;
        }
        
        #encabezado nav ul li a{
            font-size: 20px;
        }
        
        #check:checked ~ .checkbtn{
            color: #2c3e50;
        }
       

  }



  .form-header {
    text-align: center;
    background-color: #f6f7f8;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
  
    width: 80%;
    margin: 10px auto;
    padding: 50px;
  }
  
  .form-header h6{
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  /* ------------- Formulario ------------- */
  
  .formulario {
    background-color: #f6f7f8;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
  
    width: 80%;
    padding: 50px;
    margin: 30px 0 40px 0;
  }

  /* ------------- Campos del Formulario ------------- */

.form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .form-row input[type="text"] {
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
  }
  
  .form-row label {
    margin-bottom: 3px;
    text-align: initial;
  }

  /* ------------- Para Pantallas de más de 700px ------------- /  */
@media only screen and (min-width: 700px) {
    .form-header {
      padding: 50px;
    }
  
    .form-row {
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 20px;
    }
    .form-row input[type="text"] {
      width: 250px;
      height: initial;
    }
    .form-row label {
      text-align: right;
      width: 120px;
      margin-top: 7px;
      padding-right: 20px;
    }
    .form-row textarea {
      width: 250px;
    }
    .form-row button {
          margin-left: 120px;
        }

  }



  .form-row input[type="text"],
  .form-row input[type="email"]{
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
  }

  .form-row textarea {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
  
  
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
  
  
    min-height: 200px;
    margin-bottom: 10px;
    padding: 7px;
    resize: none;
  
  
    width: 100%;
  }
      
 .form-row button {
    font-size: 16px;
    font-weight: bold;
      
      
    color: #ffffff;
    background-color: #5995da;
      
      
    border: none;
    border-radius: 3px;
      
      
    padding: 10px 40px;
    cursor: pointer;
    }
      
      
    .form-row button:hover {
    background-color: #76aeed;
      }
      
      
    .form-row button:active {
    background-color: #407fc7;
      }